@import url(./assets/CursorGothic-main/cursor-gothic.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

:root {
  --black-color: #14120b;
  --primary-color: #f54e00;
  --white-color: rgb(237, 236, 236);
}
body {
  background-color: var(--black-color);
  font-family:
    CursorGothic, "CursorGothic Fallback", system-ui, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  overflow-y: scroll;
}
header {
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 52px;
  padding: 0 19px;
  color: rgb(237, 236, 236);
}
.navLogo {
  height: 22px;
}
.logoContainer {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.logoName {
  height: 11.5px;
}
.navbar {
  position: absolute;
  left: 37.5%;
}
.navigationMenu {
  display: flex;
  gap: 29px;
}
.navLinks {
  letter-spacing: normal;
  font-size: 14px;
  padding: 6.2px 0;
}
.navActionBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 2px;
  text-align: center;
}
#navSignInBtn {
  border: 1px solid rgba(237, 236, 236, 0.2);
  border-radius: 20px;
  color: rgb(237, 236, 236);
  font-size: 14px;
  background-color: var(--black-color);
  line-height: 14px;
  padding: 5.8px 11.5px;
}
#navDownloadBtn {
  border: 1px solid #edecec;
  border-radius: 20px;
  line-height: 14px;
  font-size: 14px;
  background-color: rgb(237, 236, 236);
  padding: 5.8px 11.5px;
}
.heroSection {
  padding: 112px 20px 67.2px 20px;
}

.heroParagraph {
  font-size: 26px;
  color: rgb(237, 236, 236);
  line-height: 32px;
  margin-bottom: 22.4px;
}
.heroActionBtn {
  display: flex;
  align-items: center;
  padding: 11px 22px 13px 22px;
  width: fit-content;
  border: 0.781px solid rgb(215, 214, 213);
  border-radius: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  word-spacing: 0.2px;
  letter-spacing: -1px;
  font-size: 16px;
  background-color: var(--white-color);
}
p {
  color: var(--white-color);
}
section {
  width: 98%;
  margin: 0 auto;
  margin-bottom: 6.25rem;
}
.containerBackground {
  background-color: rgba(27, 25, 19, 0.615);
  border: 1px solid rgba(255, 252, 252, 0.052);
  border-radius: 4px;
  padding: 16px;
}
.heroActionBtnIcon {
  width: 18px;
  margin-left: 2px;
  padding-top: 1px;
}
.heroSecondContainer {
  height: 680px;
  overflow: hidden;
  border-radius: 5px;
}
.heroFirstContainer {
  margin-bottom: 65px;
}
.heroSecondContainer .backgroundImage {
  width: 100%;
  object-fit: contain;
}

.trustedSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.trustedParagraph {
  color: var(--white-color);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
}
.trustedCardsContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 16px;
}
.trustedCards {
  background-color: rgba(27, 25, 19, 0.615);
  border: 1px solid rgba(255, 252, 252, 0.052);
  display: flex;
  height: 100px;
  padding: 0 11.5px;
  border-radius: 4px;
}
.trustedCards img {
  width: 70%;
  height: 50%;
  margin: auto;
}

.thirdSectionContainer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.thirdSectionLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 18px;
}
.thirdSectionLeft p {
  color: #fffffc85;
}
.thirdSectionLeft p span {
  color: var(--white-color);
}
.thirdSectionLeft > span {
  margin-top: 16px;
  color: var(--primary-color);
}
.thirdSectionRight {
  overflow: hidden;
}
.thirdSectionRight img {
  object-fit: contain;
  max-height: 540px;
  border-radius: 4px;
}

.fourthSectionContainer {
  display: flex;
  justify-content: space-between;
}

.fourthSectionLeft img {
  object-fit: contain;
  max-height: 540px;
  border-radius: 4px;
}
.fourthSectionRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 18px;
}
.fourthSectionRight p {
  color: #fffffc85;
}
.fourthSectionRight p span {
  color: var(--white-color);
}
.fourthSectionRight > span {
  margin-top: 16px;
  color: var(--primary-color);
}

.fifthSectionContainer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.fifthSectionLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 18px;
}
.fifthSectionLeft p {
  color: #fffffc85;
}
.fifthSectionLeft p span {
  color: var(--white-color);
}
.fifthSectionLeft > span {
  margin-top: 16px;
  color: var(--primary-color);
}
.fifthSectionRight {
  overflow: hidden;
}
.fifthSectionRight img {
  object-fit: contain;
  max-height: 540px;
  border-radius: 4px;
}

.testimonialSection{
  width: 100%;
}

.testimonialSection h2 {
  color: var(--white-color);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px;
}

.testimonialSectionCardsContainer {
  display: grid;
  padding: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  font-family: sans-serif;
  gap: 0.5rem;
}

.testimonialCard {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}


.testimonialImage {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 4px;
}
.testimonialCardDetails {
  margin-top: auto;
  display: flex;
  gap: 1rem;
}

.testimonialCardDetails div p:last-child {
  color: #fffffc85;
  margin-top: 2px;
}
