@import url(./assets/CursorGothic-main/cursor-gothic.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

:root {
  --black-color: #14120b;
  --primary-color: #f54e00;
  --white-color: rgb(237, 236, 236);
  --text-dim: #fffffc85;
}
body {
  background-color: var(--black-color);
  font-family:
    CursorGothic, "CursorGothic Fallback", system-ui, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  padding: 0 19px;
  background-color: var(--black-color);
  color: rgb(237, 236, 236);
}
.navLogo {
  height: 22px;
}
.logoContainer {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.logoName {
  height: 11.5px;
}
.navbar {
  position: absolute;
  left: 37.5%;
  top: 26%;
}
.navigationMenu {
  display: flex;
  gap: 35px;
}
.navLinks {
  color: var(--white-color);
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: normal;
  padding: 6px 0;
}
.navActionBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 2px;
  text-align: center;
}
#navSignInBtn {
  border: 1px solid rgba(237, 236, 236, 0.2);
  border-radius: 20px;
  color: rgb(237, 236, 236);
  font-size: 14px;
  background-color: var(--black-color);
  line-height: 14px;
  padding: 5.8px 11.5px;
}
#navDownloadBtn {
  border: 1px solid #edecec;
  border-radius: 20px;
  line-height: 14px;
  font-size: 14px;
  background-color: rgb(237, 236, 236);
  padding: 5.8px 11.5px;
}
.heroSection {
  padding: 112px 20px 67.2px 20px;
}

.heroParagraph {
  font-size: 26px;
  color: rgb(237, 236, 236);
  line-height: 32px;
  margin-bottom: 22.4px;
}
.heroActionBtn {
  display: flex;
  align-items: center;
  padding: 11px 22px 13px 22px;
  width: fit-content;
  border: 0.781px solid rgb(215, 214, 213);
  border-radius: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  word-spacing: 0.2px;
  letter-spacing: -1px;
  font-size: 16px;
  background-color: var(--white-color);
}
p {
  color: var(--white-color);
}
section {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.containerBackground {
  background-color: rgba(27, 25, 19, 0.615);
  border: 1px solid rgba(255, 252, 252, 0.052);
  border-radius: 4px;
  padding: 16px;
  margin: 0 auto;
  width: 97%;
}
.heroSection {
  width: 100%;
}
.heroActionBtnIcon {
  width: 18px;
  margin-left: 2px;
  padding-top: 1px;
}
.heroSecondContainer {
  height: auto;
  overflow: hidden;
  border-radius: 5px;
}
.heroFirstContainer {
  margin-bottom: 65px;
}
.heroSecondContainer .backgroundImage {
  width: 100%;
  object-fit: contain;
}

.trustedSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.trustedParagraph {
  color: var(--white-color);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.2rem;
}
.trustedCardsContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 16px;
}
.trustedCards {
  background-color: rgba(27, 25, 19, 0.615);
  border: 1px solid rgba(255, 252, 252, 0.052);
  display: flex;
  height: 100px;
  padding: 0 11.5px;
  border-radius: 4px;
}
.trustedCards img {
  width: 70%;
  height: 50%;
  margin: auto;
}

.thirdSectionContainer,
.fourthSectionContainer,
.fifthSectionContainer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.thirdSectionLeft,
.fourthSectionRight,
.fifthSectionLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  width: 30%;
}

.thirdSectionLeft p span,
.fourthSectionRight p span,
.fifthSectionLeft p span {
  color: var(--white-color);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.thirdSectionLeft p,
.fourthSectionRight p,
.fifthSectionLeft p {
  color: var(--text-dim);
  font-size: 1.3rem;
  font-weight: 400;
}
.thirdSectionLeft > span,
.fourthSectionRight > span,
.fifthSectionLeft > span {
  margin-top: 16px;
  color: var(--primary-color);
}

.thirdSectionRight img,
.fourthSectionLeft img,
.fifthSectionRight img {
  object-fit: contain;
  max-height: 640px;
  border-radius: 4px;
}

.testimonialSection {
  width: 100%;
}

.testimonialSection h2 {
  color: var(--white-color);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px;
}

.testimonialSectionCardsContainer {
  display: grid;
  padding: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  font-family: sans-serif;
  gap: 0.5rem;
}

.testimonialCard {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

.testimonialImage {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 4px;
}
.testimonialCardDetails {
  margin-top: auto;
  display: flex;
  gap: 1rem;
}

.testimonialCardDetails div p:last-child {
  color: var(--text-dim);
  margin-top: 2px;
}

.frontierSection {
  font-family: sans-serif;
  font-weight: 200;
}
.frontierSection h2 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--white-color);
  margin-bottom: 1rem;
}
.frontierSectionCardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.frontierSectionCards {
  display: grid;
  gap: 1rem;
}
.frontierSectionCardsDetails span {
  color: var(--white-color);
}
.frontierSectionCardsDetails {
  display: flex;
  flex-direction: column;
  color: var(--text-dim);
}
.frontierSectionCards div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.frontierSectionCards a {
  color: var(--primary-color);
}
.frontierSectionCards img {
  border-radius: 4px;
  width: 100%;
}
.changeLogSection {
  font-family: sans-serif;
}
.changeLogSection h2 {
  font-size: 1.7rem;
  font-weight: 200;
  color: var(--white-color);
  margin-bottom: 1rem;
}

.changeLogSectionCardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.changeLogSectionCard {
  padding: 1.5rem;
}
.changeLogSectionCard > p:first-child {
  color: var(--text-dim);
  font-size: 1.2rem;
  margin-bottom: 8px;
}
.changeLogSectionCard p span {
  border: 1px solid rgba(207, 206, 206, 0.752);
  padding: 0 8px;
  margin-right: 4px;
  border-radius: 16px;
}

.changeLogSection > p {
  color: var(--primary-color);
  font-size: 1.2rem;
  margin-top: 1rem;
}
.joinUsSection {
  display: flex;
  gap: 2rem;
}
.joinUsSectionLeft {
  display: grid;
  place-content: center;
  font-size: 1.4rem;
}
.joinUsSectionLeft a {
  color: var(--primary-color);
  margin-top: 0.5rem;
}
.joinUsSectionRight img {
  width: 100%;
  border-radius: 0.5rem;
}

.blogSection {
  width: 100%;
  background-color: rgba(27, 25, 19, 0.615);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding: 1rem;
}

.blogSectionHeading {
  grid-column-start: 1;
  grid-column-end: 3;
  color: var(--white-color);
  font-family: sans-serif;
  font-weight: normal;
  padding: 1rem;
}

.blogSectionCardsContainer {
  grid-column-start: 4;
  grid-column-end: 8;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.blogSectionCards {
  padding: 1rem;
  font-family: sans-serif;
  font-weight: 200;
}
.blogCardTitle {
  font-size: 1rem;
}
.blogCardDescription {
  color: var(--text-dim);
  font-size: 0.9rem;
  margin-top: 1px;
}
.blogCardDate {
  color: var(--text-dim);
  margin-top: 1rem;
}
.tryNowSection div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tryNowSectionHeading {
  color: var(--white-color);
  font-size: 4rem;
}
.tryNowSectionBtn {
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 0.8rem 1.3rem;
  border: none;
  display: flex;
  font-size: 1rem;
  align-items: center;
  border-radius: 1.5rem;
}
.tryNowSectionBtn span {
  margin-bottom: 41px;
  margin-bottom: 1px;
}
.tryNowSectionBtn img {
  height: 1.3rem;
}
footer {
  background-color: #1b1913;
  padding: 4rem 1rem 1rem 1rem;
}
.footerSection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-family: sans-serif;
}
.footerMenuHeadings {
  color: var(--text-dim);
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 0.9rem;
}
.footerMenu {
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  gap: 0.5rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.footerMenu li {
  cursor: pointer;
}
.bottomContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.copyright {
  color: var(--text-dim);
  font-size: 0.9rem;
  font-family: sans-serif;
  font-weight: normal;
}

.bottomSecondContainer {
  display: flex;
  gap: 1.5rem;
}

.bottomSecondContainerLeft,
.bottomSecondContainerRight {
  padding: 0.2rem 2rem;
  border-radius: 1rem;
  color: var(--white-color);
}
